*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
form{
	background-color: #e5eae9;
	padding: 10px;
	width: 600px;
}
label,
input{
	display: block;
}
.lft-fl{
	float: left;
}
.mg-t{
	margin-top: 3px;
}
.clr{
	clear: both;
}
form{
	margin-left: 15px;
	margin-top: 15px;
}
label{
	margin-bottom: 5px;
	margin-top: 5px;
}
.algn{
	margin-top: 0;
	margin-left: 3px;
}